body {
	margin: 0;
	padding: 0;
}
.inner {
	background: red;
	margin: 15px;
	border-radius: 15px;
	width: 50px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	color: white;
}
.outer {
	display: flex;
}
.outer-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.main {
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
}
.text {
	margin-left: 20px;
}
.text-1 {
	margin-top: 20px;
}
.text-probel {
	margin-left: 40px;
}
.text-probel-1 {
	margin-left: 80px;
}
.green {
	сolor: green;
}
.code-text {
	width: auto;
	height: auto;
	background: #e6e6e6;
	margin: auto;
	padding: 20px;
}
      .sliding-button {
         text-decoration: none;
         outline: none;
         color: white;
         display: inline-block;
         position: relative;
         padding: 15px 30px;
         border: 1px solid;
         border-image: linear-gradient(180deg, #e4a08f, #e04b48, #ff096c, #d50082);
         border-image-slice: 1;
         margin: 10px 20px;
         font-family: 'Montserrat', sans-serif;
         text-transform: uppercase;
         overflow: hidden;
         letter-spacing: 2px;
         transition: .8s cubic-bezier(.165, .84, .44, 1);
      }

      .sliding-button:before {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         height: 0;
         width: 100%;
         z-index: -1;
         color: white;
         background: linear-gradient(180deg, #e4a08f, #ca2c2b, #ff096c, #d50082);
         transition: .8s cubic-bezier(.165, .84, .44, 1);
      }

      .sliding-button:hover {
         background: rgba(255, 255, 255, 0);
      }

      .sliding-button:hover:before {
         bottom: 0%;
         top: auto;
         height: 100%;
      }
.button {
   height: 100px;
   width: 100px;
   font-size: 50px;
}