h1{
  text-align: center;
  color: #ffffff;
}
body {
  background-color: #5694E8;
}
.cmd {
  color: #67EBE6;
}
.cmdtext {
  color: red;
}
.text {
  color: #ffffff;
}
.youtube_text {
  font-size: 20px;
  color: white;
}