body {
  background: linear-gradient(to bottom, #00ccff 28%, #0066ff 100%); /*https://html5css.ru/colors/colors_gradient.php*/
​​​​​​​  height: auto;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

}
.navbar {
    min-width: 0;
}
.wrapper {
  min-width: 0;
}
.image-slider {
  display: flex;
  padding: 80px 0 0px 0;
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}
.image-slider_wrapper{
}
.image-slider_slide {
}
.image-slider_image img {
  max-width: 100%;
  box-shadow: 0 0 30px black;
  min-width: 0;
}
.image-slide .swiper-button-prev::after,
.image-slide .swiper-button-next::after {
  color: #fff;
  font-size: 80px;
  min-width: 0;
}
.flex {
  display: flex;
  font-size: 40px;
  min-width: 0;
}