body {
	margin: 0;
	padding: 0;
  height: 100%; /* https://www.youtube.com/watch?v=kNGYuTelE3E */
}
.div {
  min-height: 100%; /* https://www.youtube.com/watch?v=kNGYuTelE3E */
  display: flex; /* https://www.youtube.com/watch?v=kNGYuTelE3E */
  flex-direction: column; /* https://www.youtube.com/watch?v=kNGYuTelE3E */
}
.main {
  flex: 1 1 auto; /* https://www.youtube.com/watch?v=kNGYuTelE3E */
}
.inner {
	background: white;
	margin: auto;
	border-radius: auto;
	width: auto;
	height: auto;
	font-size: auto;
	text-align: center;
	color: black;
  margin-top: 20px;
  transition: 2s; /* Время эффекта */
}
.inner:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
.outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text {
	margin-left: 20px;
}
.text-1 {
	margin-left: 12%;
}
.button-probel {
	margin-left: 65px;
}
.button-probel-1 {
	margin-left: 79px;
}
.button-probel-2 {
    margin-left: 24px;
}
.text-probel {
    margin-left: 44px;
}
.text-font {
    color: white;
}
body {
    background: #1D1B26;
}
.text {
    margin-left: 20%;
}
.main-button {
    margin-left: 20%;
    margin-right: 20%;
}
.footer {
  height: 120px;
  width: 100%;
  background: #24242A;
  position: absolute;
  font-weight: bold;
  font-size: 30px;

}
.p {
  background: #24242A;
  bottom: 0px;
  position: absolute;
  margin: auto;
  width: auto;
  height: auto;
  text-align: center;
  color: black;
  margin-top: 20px;
  transition: 2s; /* Время эффекта */
}
.p:hover {
  background: #24242A;
    transform: scale(1.2); /* Увеличиваем масштаб */
}
.images-probel {
  margin-left: 41%;
}