.menu_line font { 
    font-weight: 500; 
    font-size: 22px;
    color: black;
    transition: all 0.2s ease;
}

.menu_line font:hover {
    color: #138EED;
    transition: all 0.2s ease;
}

.menu { 
    position: fixed;
    margin-top: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    height: 60px;
    z-index: 999;
}

.menu img {
    width: 85px;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
}

.menu_line {
    margin-top: 16px;
    left: 26px;
    margin-right: 26px;
    position: relative;
    justify-content: space-around;
    display: flex;
}